
.principalNavBar{
  height: 62px ;
  background-color: #fb0 !important;
}

/* Modo Oscuro */
.dark-mode{
  background-color: #121212 !important;
  color: white !important;
}
.light-mode{
  background-color: white !important;
  color: black !important;
}
.mode {    
      transition: background 0.3s, color 0.3s;
}
/*  */
.offcanvas-start{
  background-color: #202020;
}
.offcanvas-header{
  background-color: #303030;
}
.offcanvas-title{
  color: #fb0;
}
.nav-link{
  color: #fff !important;
}
main{
    margin-top: 62px;
}*{
  transition: all ease 0.5s;
}
.navbar{
  background-color: #ffc800;
  height: 70px;
  display: flex;
  justify-content: space-around;
}
.nav-link{
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
.navbar-item{
  margin-top: 10px !important;
}
.navbar-toggler{
  height: 50px !important;
  width: 50px;
}
.navbar-nav{
    display: flex;
    justify-content: space-evenly !important;
}
#carrito {
    height: 40px;
    width: 40px;
    background-image: url(../img/carrito-gris-oscuro.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width: 992px){
  .navbar-nav {
    border-radius: 10px;
    padding: 10px;
    background-color: #202020;
  }
  .nav-link{
    color: wheat !important;
  }
  #carrito{
    background-color: #ffbb00;
    border-radius: 10px;
    margin: 5px;
  }
}