


.upper-band{
  background: var(--yellow);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  margin-top: 100px;
  margin-bottom: 40px;
  
}
.container{
  background-color: #ffc800;
  ;
 
}
.navbar{
  background-color: #ffc800;
}
.nav-link{
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
.form-control{
  display: none;
}
img#userImage{
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}
.bi-exclamation-tirangle-fill{
  scale: 1.5;
}
.navbar-toggler{
  height: 50px !important;
  width: 50px;
}
.logo {
      width: 150px;
      height: 150px;
      background: #202020; 
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 4rem;
      font-weight: bold;
      color: #FFBB00;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      border-radius: 20px; /* rounds edges */
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }
:root{
  --yellow: #ffc800;  /* amarillo principal */
  --bg: #ffffff;
  --text: #222;
}
#contenedorDeProfileInfo{
  border-radius: 15px;
  box-shadow: 0 .25rem .55rem rgba(0, 0, 0, .5);
  width: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.line{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#contenedorDelBotonP{
  
  flex-direction: row-reverse;
  width: 70vh;
  display: flex;
}
.btUpdateP:hover{
  transform: scaleX(1.1);
  font-weight: 900;

}
.btUpdateP{
  transition: all 1s ease;
  box-shadow: 0 .25rem .55rem rgba(0, 0, 0, .5);
  border-radius:0 0 15px 15px ;
  width: 15vw;
  height: 8vw;
}
#contenedorDeProfileInfoEditing{
  border-radius: 15px;
  box-shadow: 0 .25rem .55rem rgba(0, 0, 0, .5);
  width: 75vh;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  
}


