/* HEADER */

.menu-desplegable{
    display: none;
    cursor: pointer;
    margin: 3%;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}
.navbar-toggler{
    margin-left: 16px;
    width: 30px;
    height: 30px;
    background-color: black;
}
header hr{
    border: 0;
    margin-top: 20px;
    height: 2px;
    width: 95px;
    background-color: black;
    color: black;
}
#navbarNav{
    margin-left: 10px;
}
.nav-item img{
    border-radius: 20px;
    padding: 12.5px;
    width: 50px;
}
.nav-item{
    margin: 0 auto;
    display: block;
}
header .container {
    top: 0;
    margin-left: 0;
   
}
.navbar-nav{
    padding: 0;
}
#Priority{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    height: 100%;

}
#listado-autos2{
    display: flex;
    float: inline-start;
    top: 0px;
}
#filter{
    background-color: #E0E0E0;
    width: 400px;
    border-color: black;
    border-width: 11px;
}
.filter1{
    margin-bottom: 10px;
}
.filter1 input{
    border-radius: 15px;
    padding: 7px;
}
#Order{
    display: block;
    margin: 0 auto;
    width: 50%;
}
#Order button{
    width: 25%;
}
.filtro input ,button{
    border-style: solid ;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}
.filtro button{
    border-radius: 15px;
    padding: 7px;
    background-color: #FFBB00;
    font-weight: bold;
}
.filtro{
    background-color: #E0E0E0;
    width: 850px;
    height: 150px;
    margin-left: 40px;
    display: flex;
    float: inline-start;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    
}
.filtro h4{
    margin: 10px 0;
    text-align: center;
}
.filtro hr{
    margin: 0;
}
.list-group{
    flex: 1;
    margin: 0;
    height: 100%;
}

/* ENCABEZADO LISTA DE AUTOS */
@media(min-width: 768px){
.text-center{
    transform:translateX(95px);
    position: fixed;
    width: 100%;
    background-color: black;
    left: 0px;
    color: #FFBB00;
    height: 75px;
    z-index: 130;
}
.text-center input{
    border-style: solid;
    padding: 5px;
    padding-left: 20px;
    border-radius: 20px;
    margin: auto 0;
    height: 50px;
    width: 450px;
}
#listado-autos1{
    display: none;
}
#pc{
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100vh;
    background-color: #FFBB00;
    padding: 20px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    z-index: 140;
}
}

.text-center h2{
    width: 100%;
    padding: 25px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* TARJETAS DE LOS AUTOS */
.list-group-item, .list-group-item-action{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border-radius: 40px;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    background-color: white;
    margin: 0px 50px 75px 50px;
    float: inline-start;

}
.row {
    border-radius: 30px;
    width: 300px;
    height: 450px;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    margin: 0 auto  ;
    margin-top: 15px;
    padding: 20px;
    z-index: 80;
}
.mb-1 hr{
    border: 0;
    width: 340px;
    height: 1px;
    background-color: black;
    transform: translateX(-20px);
}
.mb-1 h4{
    text-align: center;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif; ;
}
.mb-1 .precio{
    font-size: 20px;
    margin-bottom: 0;
}
.compra{
    border-radius: 0 0 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    width: 200px;
    margin: 0px auto;
    height: 30px;
    padding: 12.5px;
    background-color: #FFBB00;
    display: block;
    z-index: 1;
}
.subcompra p{
    margin: 0;
}
.col-3 img{
    border-radius: 25px;
    display: block;
    height: 175px;
}
/* Footer */
#Footer .container{
    transform: translateY(75px);
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
footer #JAP{
    width: 330px;
    margin-left: 0;
}
html{
    display: flex;
    height: 100%;
    top: 0;
    flex-direction: column;
}
body {
    margin-top: 0;
    margin-left: 95px;
    display: flex;
    flex-direction: column;
}
.pb-5{
    display: flex;
    width: 100%;
    top: 0;

}

@media(max-width: 768px){
    .vertical_header{ 
        top: 0;
        height: 70px;
    }
    body{
        margin: 0;
        margin-top: 0;
        width: 100%;
    }

    #prueba{
    position: fixed;
    top: 0;
    left: 0; 
    background-color: #FFBB00;
    padding: 20px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    z-index: 140;
    width: 10%;
    height: 85px;
    }
    #listado-autos1{
        margin: auto 0;
    }
    #listado-autos1{
        font-size: 2rem;
    }
    .menu-desplegable{
        display: block;
    }
    .navbar-nav{
        margin-top: 20px;
        position: fixed;
        left: -100%;
        flex-direction: column;
        background-color: #333;
        width: 20%;
        text-align: center;
        transition: 0.3s;
        gap: 0;
    }
    .navbar-nav.active {
        top: 50px;
        left: 0;
        z-index: 130;
    }
    .text-center{
        color: black;
        height: 50px;
        
    }
    #prueba{
        display: flex;
        flex-direction: row;
       width: 100%;
       height: 5%;
    }
    .text-center h2{
        padding: 10px;
        font-size: 20px;
    }
    html{
        top: 0;
        height: 100%;
    }

    .navbar-toggler{
        display: none;
    }
    .linea{
        display: none;
    }
    .list-group{
        flex-direction: column;

    }
    .list-group-item, .list-group-item-action{
        top: 0;
        width: 300px;
        height: 525px;
        border-radius: 40px;
        box-shadow: rgb(0, 0, 0) 0px 0px 5px;
        background-color: white;
        margin: 20px auto;
        margin-left: 10px;
    }
    .row {
        border-radius: 30px;
        width: 250px;
        height: 400px;
        box-shadow: rgb(0, 0, 0) 0px 0px 5px;
        margin: auto auto ;
        margin-top: 15px;
        margin-bottom: 0;
        padding: 20px;

    }
    .mb-1 hr{
        border: 0;
        width: 240px;
        height: 1px;
        background-color: black;
        transform: translateX(-20px);
    }
    .compra{
        border-radius: 0 0 15px 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 900;
        text-align: center;
        width: 150px;
        margin: 0px auto;
        height: 30px;
        padding: 12.5px;
        background-color: #FFBB00;
        display: block;
    }
    .col-3
    img{
        border-radius: 25px;
        display: block;
        height: 150px;
    }
    #Footer .container{
        transform: translateY(180px);
        display: flex;
        margin-bottom: 0;
        justify-content: space-between;
        background-color: black;
        width: 100%;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    footer #JAP{
        width: 200px;
        margin-left: 0;
    }
    .pb-5{
        width: 100%;
        height: 90%;
    }
    #Priority {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        height: 100%;
        width: 100%;
    }
    #listado-autos2{
        display: none;
        ;
    }
    #filter {
        width: 100%;
    }
    .filtro{
        padding: 5px;
        margin: 0;
        width: 320px;
        margin-left: 0;
        flex-direction: column;
        height: 200px;
        border-radius: 0;
        top :0;

    }
    .filtro h4{
        margin: 2px;

    }
    .filter1 label{
        display: none;
    }
    #Order1{
        display: flex;
        width: 300px;
    }
    #Order{
        width: 100%;
    }
    #Order button{
        width: 75px;
        flex-direction: row;
        height: 30px;
        width: 100px;
    }
    
    #listado-autos1 input{
        border-style: solid;
        padding: 5px;
        padding-left: 20px;
        border-radius: 15px;
        margin: auto 10px;
        height: 40px;
        width: 100%;
    }
    .menu-desplegable{
        height: 25px;
        margin: 0 20px;
    }
}