/* HEADER */
.menu-desplegable{
    display: none;
    cursor: pointer;
    margin: 3%;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}
.navbar-toggler{
    margin-left: 16px;
    width: 30px;
    height: 30px;
    background-color: black;
}
header hr{
    border: 0;
    margin-top: 20px;
    height: 2px;
    width: 95px;
    background-color: black;
    color: black;
}
#navbarNav{
    margin-left: 10px;
}
.nav-item img{
    border-radius: 20px;
    padding: 12.5px;
    width: 50px;
}
.nav-item{
    margin: 0 auto;
    display: block;
}
header .container {
    top: 0;
    margin-left: 0;
   
}
.navbar-nav{
    padding: 0;
}

/* ENCABEZADO LISTA DE AUTOS */
@media(min-width: 768px){
.Encabezado{
    position: fixed;
    padding-left: 95px;
    width: 118.4%;
    background-color: black;
    margin: auto auto;
    left: 0px;
    color: #FFBB00;
    height: 75px;
    z-index: 130;
}
#listado-autos1{
    display: none;
}
#pc{
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100vh;
    background-color: #FFBB00;
    padding: 20px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    z-index: 140;
}
}

.Encabezado h2{
    padding: 25px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* TARJETAS DE LOS AUTOS */
section{
    height: 80%;
}
.EtiquetaDeProductoMain{
    transform: translateY(75px);
    width: 375px;
    height: 600px;
    border-radius: 40px;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    background-color: white;
    margin: 50px 50px;
    float: inline-start;
}
.EtiquetaDeProductoIN {
    border-radius: 30px;
    width: 290px;
    height: 450px;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    margin: auto auto ;
    margin-top: 15px;
    padding: 20px;
    margin-bottom: 24px;
}
.Producto hr{
    border: 0;
    width: 330px;
    height: 1px;
    background-color: black;
    transform: translateX(-20px);
}
Producto h4{
    text-align: center;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif; ;
}
Producto .precio{
    font-size: 20px;
    margin-bottom: 0;
}
.compra{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    margin: 5px auto;
    height: 30px;
    padding: 12.5px;
    background-color: #FFBB00;
    display: block;
}
.subcompra p{
    margin: 0;
}
.ContenedorImage img{
    border-radius: 25px;
    display: block;
    height: 175px;
}
/* Footer */
#Footer .container{
    transform: translateY(75px);
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    background-color: black;
    width: 114.3%;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
footer #JAP{
    width: 330px;
    margin-left: 0;
}
body{
    width: 80%;
    margin-left: 95px;
    margin-top: 0;
    margin-bottom: 0;
}
.ContenedorMainProductos{
    width: 118.4%;
    height: 90%;
}

@media(max-width: 768px){
    .vertical_header{
         position: fixed;
        top: 0;
        left: 0;    
        background-color: #FFBB00;
        padding: 20px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        z-index: 140;
        width: 10%;
        height: 5%;
    }
    .menu-desplegable{
        display: block;
    }
    .navbar-nav{
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: #333;
        width: 20%;
        text-align: center;
        transition: 0.3s;
        gap: 0;
    }
    .navbar-nav.active {
        left: 0;
    }
    .Encabezado{
        color: black;
        height: 50px;
        
    }
    #prueba{
        display: flex;
        flex-direction: row;
       width: 100%;
       height: 5%;
    }
    .Encabezado h2{
        padding: 10px;
        font-size: 20px;
    }
    body{
        width: 100%;
        margin-left: 0;
        margin-top: 75px;
    }
    .navbar-toggler{
        display: none;
    }
    .linea{
        display: none;
    }
    .EtiquetaDeProductoMain{
        transform: translateY(50px);
        width: 250px;
        height: 550px;
        border-radius: 40px;
        box-shadow: rgb(0, 0, 0) 0px 0px 5px;
        background-color: white;
        margin: 20px auto;
    }
    .EtiquetaDeProductoIN {
        border-radius: 30px;
        width: 175px;
        height: 400px;
        box-shadow: rgb(0, 0, 0) 0px 0px 5px;
        margin: auto auto ;
        margin-top: 15px;
        padding: 20px;
        margin-bottom: 24px;
    }
    .Producto hr{
        border: 0;
        width: 215px;
        height: 1px;
        background-color: black;
        transform: translateX(-20px);
    }
    .compra{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 900;
        border-radius: 15px;
        text-align: center;
        width: 150px;
        margin: 5px auto;
        height: 30px;
        padding: 12.5px;
        background-color: #FFBB00;
        display: block;
    }
    .ContenedorImage img{
        border-radius: 25px;
        display: block;
        height: 110px;
    }
    #Footer .ContenedorProductos{
        transform: translateY(50px);
        display: flex;
        margin-bottom: 0;
        justify-content: space-between;
        background-color: black;
        width: 100%;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    footer #JAP{
        width: 200px;
        margin-left: 0;
    }
    .ContenedorMainProductos{
        width: 100%;
        height: 90%;
    }
    #Priority {
        margin-left: 10%;
    }
    #listado-autos2{
        display: none;
    }
}